.text-slate-800 {
  color: darkgrey;
}

.text-orange-200 {
  color: orange;
}

.bg-orange-200 {
  background-color: orange;
}

.text-blue-200 {
  color: blue;
}

.text-red-500 {
  color: darkred;
}

.bg-blue-200 {
  background-color: blue;
}
