<header>

  <h1 class="text-orange-300">Project Management App</h1>

  <nav>
    <ul>
      @for (link of navLinks; track link.url) {
        <li>
          <a [routerLink]="link.url"
             [routerLinkActive]="activeNavClass"
             (isActiveChange)="onNavChange($event, link.url)"
             [routerLinkActiveOptions]="{exact: link.url === '/'}">{{ link.label }}</a>
        </li>
      } @empty {
        No nav items available
      }
    </ul>
  </nav>

</header>

<main>
  <router-outlet></router-outlet>
</main>
