<a class="link-button" routerLink="/users/create">Create User</a>

<hr class="separator-line">

<!-- reset filters button -->
<a *ngIf="filter" routerLink="./" [queryParams]="{}">
  Reset Filters
</a>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Position</th>
    <th>Department</th>
    <th>DOB</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
    @for (user of users; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td><a routerLink="/users/{{user.id}}">{{ user.name }}</a></td>
        <td>{{ user.email }}</td>
        <td class="position">
          <a routerLink="./" [queryParams]="{position: user.position}">
            {{ user.position }}
          </a>
        </td>
        <td class="department">
          <a routerLink="./" [queryParams]="{department: user.department}">
            {{ user.department }}
          </a>
        </td>
        <td>{{ user.dob | date }}</td>
        <td>{{ user.createdAt | date }}</td>
      </tr>
    }
  </tbody>
</table>
