<a class="link-button" routerLink="/users/create">Create User</a>

<hr class="separator-line">

<div class="filters">
  <div>
    <select name="positions" id="positions">
      <option value="">Select Position</option>
      <option *ngFor="let position of positions" [value]="position">{{ position }}</option>
    </select>

    <select name="departments" id="departments">
      <option value="">Select Department</option>
      <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
    </select>
  </div>

  <!-- reset filters button -->
  <a *ngIf="filter" routerLink="./" [queryParams]="{}">
    Reset Filters
  </a>
</div>

<nestjs-api-angular-mono-data-table *ngIf="users"
                                    [headers]="tableHeaders"
                                    [dataItems]="users"
                                    [baseURI]="'users'"
                                    [clickToEdit]="'name'"
></nestjs-api-angular-mono-data-table>
