<a routerLink="/projects/create">Create Project</a>

<hr>

<!-- reset filters button -->
<a *ngIf="filter" routerLink="./" [queryParams]="{}">
  Reset Filters
</a>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Start Date</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
    @for (project of projects; track project.id) {
      <tr>
        <td>{{ project.id }}</td>
        <td><a routerLink="/projects/{{project.id}}">{{ project.name }}</a></td>
        <td>{{ project.startDate | date }}</td>
        <td>{{ project.dueDate | date }}</td>
        <!-- status should be transformed into a badge with color -->
        <td class="status" [ngClass]="projectStatusMap[project.status!]">
          <a routerLink="./" [queryParams]="{status: project.status}">
            {{ project.status }}
          </a>
        </td>
        <td>{{ project.createdAt | date }}</td>
      </tr>
    }
  </tbody>
</table>
